:root {
  --navbar-height: 60px;
  --primary-color: #333;
  --primary-color-contraste: #ff4;
  --font-color:#fff; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
} 

body {
  background-image: url("./images/black-camaro-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;

  padding-top: var(--navbar-height);  

  height: 300vh;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  display: flex;  
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 

  font-family: 'Allison', cursive;
  font-size: 3rem;
}

.links li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  border-radius: 5px;  

  transition: background 0.4s ease-in-out;
}

.links li:hover {  
  background-color: var(--primary-color-contraste);
  color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  color: var(--font-color);
}

.job {
  padding-top: 10vh;
  padding-left: 15vh;
  text-shadow: 1px 1px 2px rgb(94, 93, 93);
  font-size: 22px;
}

.stack { 
  margin-top: 8vh; 
  padding: 30px;
}

.stack li {
  display: inline-block;
  padding: 15px;
}

.container { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(94, 93, 93);
  min-height: 100vh;
}

.item {  
  padding: 15px;
  width: 100%;
}

.about{  
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;

  background-color: var(--primary-color);
  color: var(--font-color);
  width: 500px;  
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: center;
  background-color: #fff;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  background-color: var(--primary-color);
  color: var(--font-color);
  width: 500px;
}