:root {
  --navbar-height: 60px;
  --primary-color: #262a2b;
  --primary-color-contraste: #ff4;
  --font-color-ligth:#fff; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
} 

body {
  background-color: #333;
  padding-top: var(--navbar-height);

  height: 300vh;
}

a {
  text-decoration: none;  
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  display: flex;  
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--font-color-ligth);
  padding-left: 20px;
  padding-right: 20px;
  z-index: 99;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 

  font-family: 'Allison', cursive;
  font-size: 3rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a{
  color: var(--font-color-ligth);
  font-size: 18px;
}

.links li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  border-radius: 5px;  

  /* transition: background 0.4s ease-in-out; */
}

.links li:hover {  
  background-color: var(--primary-color-contraste);
  color: var(--primary-color);
  font-weight: 700;
}

.header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
  color: var(--font-color);
  background-image: url("./images/black-camaro-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;  
}

.header-details{
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100%;
  background-color: #fff;
  opacity: .8;

}

.job {
  
  
}

.stacks { 

}

.stacks li {
  display: inline-block;
  padding: 15px;
}

.container{
  display: flex; 
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
  padding-bottom: 20px;
}

.aboutme-img img {
  max-width: 280px;
  margin: auto;
  border-radius: 30px;
  padding: 20px;
}

.aboutme-details{
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--font-color-ligth);

}

.contact{ 
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--font-color-ligth);
}

.contact a{
  font-size: 20px;
  color: var(--font-color-ligth);
}



@media(max-width: 535px){
  .navbar{
    flex-direction: column;
  }
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-details{
    flex-direction: column; 
    height: 77px;   
  }

  .aboutme-details{
    padding: 0 20px;
  }
}




/* 
.container { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(94, 93, 93);
  min-height: 100vh;
}

.item {  
  padding: 15px;
  width: 100%;
}

.about{  
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;

  background-color: var(--primary-color);
  color: var(--font-color);
  width: 500px;  
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: center;
  background-color: #fff;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  background-color: var(--primary-color);
  color: var(--font-color);
  width: 500px;
} */